.benefist {
  display: inline-flex;
  padding-top: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--color-light-gray);
    border-radius: 4px;
  }
  &__list {
    display: flex;

    &__item {
      flex-basis: calc((100% - 60px) / 2);
    }
    &__item:nth-last-child(4) {
      margin-right: 0px;
    }
  }
  &__list .benefist__item {
    width: 100%;
    margin-right: 30px;
    @media screen and (min-width: 768px) {
    }
  }
  &__paragraph {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--color-icon);
    margin-bottom: 30px;
  }
}
