.benefist {
  padding-top: 94px;
  padding-bottom: 94px;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--color-light-gray);
    border-radius: 4px;
  }
  &__list {
    display: flex;
    gap: 30px;

    &__item {
      width: calc((100% - 30px) / 4);
    }
    &__item:nth-last-child(1) {
      margin-right: 0px;
    }
  }
  &__list .benefist__item {
    width: 270px;
    margin-right: 30px;
  }
}
