.card-set {
  display: flex;
  flex-wrap: wrap;
  

  &__item {
    width: 370px;
    margin-bottom: 30px;
  

    @media screen and(min-width: 768px) {
      flex-basis: calc((100% - 60px) / 2);
      margin-right: 30px;
    }
    @media screen and(min-width: 768px) {
      &__item:nth-child(2n) {
        margin-right: 0px;
      }
    }
    // &__item:nth-last-child(-n + 1) {
    //   margin-bottom: 0px;
    // }

    @media screen and(min-width: 1200px) {
      flex-basis: calc((100% - 90px) / 3);
    }
  }
  @media screen and(min-width: 1200px) {
    &__item:nth-child(3n) {
      margin-right: 0px;
    }
  }

  &__item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }

  &__meta {
    padding: 20px 24px 20px 24px;
    border: 1px solid #eeeeee;
    border-top: 0px;
  }
  &__overlay {
    position: relative;
    overflow: hidden;
  }
  &__text {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--color-white-color);
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(101%);

    transition: transform var(--color-hover-animation),
      transition-duration var(--color-hover-animation);
  }
  &__item:hover .card-set__text {
    transform: translatey(0);
    opacity: 1;
  }
  &__link {
    display: block;
    overflow: hidden;
    transition: box-shadow var(--color-hover-animation);
  }
  &__link:hover,
  &__link:focus {
    box-shadow: var(--color-shadow-card);
  }
  & a {
    text-decoration: none;
  }
  &__name {
    margin-top: 0px;
    margin-bottom: 4px;
    color: var(--color-primary);

    font-size: 18px;
    line-height: 2;
    text-decoration: none;
  }
  &__paragraph {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--color-icon);
    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.7;
      letter-spacing: 0.03em;
      color: var(--color-icon);
    }
  }
}
