.hero {
  background-color: var(--color-background);
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 118px 0;

  @media screen and (min-width: 1200px) {
    padding: 200px 0;
  }

  &__canvas {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1600px;
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../styles/icons/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../../images/hero@2x.jpg);
    }
  }

  &__title {
    color: var(--color-white-color);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    max-width: 360px;
    margin: 0 auto 30px;

    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.36;
      max-width: 696px;
    }
  }
}
