.mobile__backdrop {
  visibility: hidden;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity var(--color-hover-animation), visibility var(--color-hover-animation);
  &.is-open {
    visibility: visible;
    pointer-events: all;
    .mobile__modal {
      transform: translateX(0);
    }
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}
.mobile__modal {
  position: absolute;
  top: 0;
  left: 0;
  padding: 48px 40px;
  height: 100%;
  width: 100%;
  transform: translate(100%);
  z-index: 999;
  background-color: var(--color-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform var(--color-hover-animation);
  overflow-y: auto;
}
.mobile-menu {
  .mobile-menu__btn-close {
    position: absolute;
    top: 10px;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__icon {
    width: 40px;
    height: 40px;
  }
  &__btn-close {
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    background-color: var(--color-white-color);
    color: var(--color-thirdary);

    transition: fill var(--color-hover-animation);
    &:hover,
    &:focus {
      fill: var(--color-thirdary);
    }
  }
  &__navigation {
    margin-bottom: 306px;
  }
  .mobile-menu__link {
    display: block;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--color-primary);
    &--current {
      color: var(--color-thirdary);
    }
  }
  &__contacts-link-tel {
    display: block;
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--color-thirdary);
  }
  &__contacts-link-email {
    display: block;
    margin-bottom: 64px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--color-secondary);
  }
  &__contacts-link-email {
    display: block;
    margin-bottom: 64px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--color-secondary);
  }
  &__contacts-link-email {
    display: block;
    margin-bottom: 64px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--color-secondary);
  }
  .mobile-menu__socials {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    &-link {
      font-weight: 500;
      font-size: 18px;
      line-height: 1.22;
      letter-spacing: 0.02em;
      text-decoration: none;
      color: var(--color-thirdary);
      padding-right: 10px;
      border-right: 1px solid rgba(33, 33, 33, 0.2);
      transform: rotate(90deg);
    }
  }
}
